language: java
jdk:
  - openjdk8

branches:
  only:
    - master


# Travis CI Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

notifications:
  email:
    recipients:
      - 'hyunchul.yang@gmail.com'
